
<style>
    #officers .media {
        margin-bottom: 10px;
    }    
</style>
<div class="letter officercursor">
<center><%= image_tag('nail.png', alt: 'nail', class:'nail', ) %></center>
<br/>
<h1>Officers</h1>
<div id="officers">
    <div class="row">
        <br/>
        <div class="col-xs-6 col-sm-6 col-md-5 col-lg-6 mediao  eaglescout">
            <%= image_tag('officers/kyle_ludwig.jpg', alt: 'officer', class: 'media-object img img-thumbnail', height: "300", width:"300") %>
            
            <div class="media-body">
                <br/>
                <h3 class="media-heading">Kyle Ludwig<br /><small>President</small></h3>
                <p class="lead">
Hey! I’m a senior geology major, and have been an active member of TTC ever sense transferring to UMD when I was a sophomore. I am an Eagle Scout, and have been an avid outdoorsman all my life.  I like to backpack, climb, cave, kayak, bike, slackline, and last but not least, I love rocks. Welcome to TTC!
                </p>
            </div>
        </div>
    
        <div class="col-xs-6 col-sm-6 col-md-4 col-lg-6 mediao">
            <%= image_tag('officers/harlie_pietrangelo.jpg', alt: 'officer', class: 'media-object img img-thumbnail', height: "300", width:"300") %>
            <br/>
            <div class="media-body">
                <h3 class="media-heading">Harlie Pietrangelo<br /><small>Vice President</small></h3>
                <p class="lead">
Hey everyone! I am a sophomore Communications major who loves backpacking, canoeing, and most recently climbing. But give me great people and a campfire and I'm the happiest person alive!
                </p>
            </div>
        </div>
    </div>

    <div class="row">      <br/>
         <div class="col-xs-6 col-sm-6 col-md-4 col-lg-6 mediao orangehat">
            <%= image_tag('officers/sara_tolnay.jpg', alt: 'officer', class: 'media-object img img-thumbnail', height: "300", width: "300") %>
            
            <div class="media-body">
                      <br/>
                <h3 class="media-heading">Sara Tolnay<br /><small>Co-Treasurer </small></h3>
                <p class="lead">
               I am a freshman civil engineering major. My favorite outdoor activities are climbing, caving, backpacking, and hammocking. You can usually find me wearing a bright orange hat.
                </p>
            </div>
        </div>
           <div class="col-xs-6 col-sm-6 col-md-4 col-lg-6 mediao">
            <%= image_tag('officers/petr_majer.jpg', alt: 'officer', class: 'media-object img img-thumbnail', height: "300", width: "300") %>
            
            <div class="media-body">
                      <br/>
                <h3 class="media-heading">Petr Majer<br /><small>Co-Treasurer</small></h3>
                <p class="lead">
                    I'm a junior studying Politics, Spanish and Russian, and I've spent a lot of time outdoors all my life. I love to ski, mountain bike, or go backpacking and sometimes I pretend to climb.
                </p>
            </div>
        </div>
    </div>
    <div class="row">
              <br/>
          <div class="col-xs-6 col-sm-6 col-md-4 col-lg-6 mediao">
            <%= image_tag('officers/melanie_herrera.png', alt: 'officer', class: 'media-object img img-thumbnail', height: "300", width: "300") %>
            
            <div class="media-body">
                      <br/>
                <h3 class="media-heading">Melanie Herrera<br /><small>Secretary</small></h3>
               
                <p class="lead">
I’m Melanie, the TTC secretary! I am a sophomore majoring in Environmental Science and Policy. I love doing and trying anything outdoors. My current favorites are caving and hiking but I’m hoping to build up some more skills. My favorite part about TTC is our effort to give back to the environment and keep it as clean and beautiful as possible! 
                </p>
            </div>
        </div>
          <div class="col-xs-6 col-sm-6 col-md-4 col-lg-6 mediao">
            <%= image_tag('officers/david_harman.jpg', alt: 'officer', class: 'media-object img img-thumbnail', height: "300", width: "300") %>
            
            <div class="media-body">
                      <br/>
                <h3 class="media-heading">David Harman<br /><small>Co-Quartermaster</small></h3>
                <p class="lead">
                    I am a Computer Science major currently in my junior year. I have been with the club for over 2 and a half years and a Gear Manager for over a year. Being a gear manager I am always looking for new prices of gear to buy, so let me know if you have any suggestions. I really enjoy backpacking and climbing but really love any activity that involves being outdoors.
                </p>
            </div>
        </div>
    </div>
    <div class="row">      <br/>
           <div class="col-xs-6 col-sm-6 col-md-4 col-lg-6 mediao">
            <%= image_tag('officers/michelle_solomon.jpg', alt: 'officer', class: 'media-object img img-thumbnail', height: "300", width: "300") %>
            
            <div class="media-body">
                      <br/>
                <h3 class="media-heading">Michelle Solomon<br /><small>Co-Quartermaster</small></h3>
                <p class="lead">
                    I am a junior studying environmental engineering with a minor in sustainability. I love leading backpacking and hiking trips with TTC, and simply enjoying the outdoors! I also belay and set routes at UMD’s rock wall behind Eppley. Seriously, you should check it out sometime. Looking forward to seeing you on trips and at meetings!
                </p>
            </div>
        </div>
        <div class="col-xs-6 col-sm-6 col-md-4 col-lg-6 mediao">
            <%= image_tag('officers/theo_nikolaitchik.jpg', alt: 'officer', class: 'media-object img img-thumbnail', height: "300", width: "300") %>
            
            <div class="media-body">
                      <br/>
                <h3 class="media-heading">Theo Nikolaitchik<br /><small>Trail Maintenance officer</small></h3>
                <p class="lead">
                    Theo is a sophomore EE major who just wants to get out there and do some trail maintenance! At least that's his excuse for going to The Lucky Corner in Frederick so often.
                </p>
            </div>
        </div>
    </div>
<!--    <div class="row">
              <br/>
        <div class="col-xs-6 col-sm-6 col-md-4 col-lg-6 mediao">
            <%= image_tag('officers/gabriel_donnenberg.jpg', alt: 'officer', class: 'media-object img img-thumbnail', height: "300", width: "300") %>
            
            <div class="media-body">
                      <br/>
                <h3 class="media-heading">Gabriel Donnenberg<br /><small>Intro Trip Coordinator</small></h3>
                <p class="lead">
Junior, Wildlife Ecologist, Intro Trip Coordinator, Fire Tamer, Star Gazer, Dream Chaser, Peace Maker, Hip Shaker, Time Taker, True Faker, Raconteur and Attentive Student to This Fine World.
                </p>
            </div>
        </div>-->
        
            <div class="row">
              <br/>
        <div class="col-xs-6 col-sm-6 col-md-4 col-lg-6 mediao">
            <%= image_tag('officers/geoffrey_chang.png', alt: 'officer', class: 'media-object img img-thumbnail', height: "300", width: "300") %>
            
            <div class="media-body">
                      <br/>
                <h3 class="media-heading">Geoffrey Chang<br /><small>Intro Trip Coordinator</small></h3>
                <p class="lead">
I am Geoffrey, the Intro Trip Coordinator. My favorite outdoor activities are hiking, camping, shenaniganing around the campfire, and most recently spelunking. But most importantly, having fun outdoor!
                </p>
            </div>
        </div>
        <div class="col-xs-6 col-sm-6 col-md-4 col-lg-6 mediao">
            <%= image_tag('officers/sam_leitess.jpg', alt: 'officer', class: 'media-object img img-thumbnail', height: "300", width: "300") %>
            
            <div class="media-body">
                      <br/>
                <h3 class="media-heading">Sam Leitess<br /><small>Director of Outreach</small></h3>
                <p class="lead">
I love to walk and climb and explore caves and eat at the Lucky Corner and take road trips and look at bugs and scare birds and jump in rivers and sleep in a tent and pet dogs and take pictures and chop wood and tell jokes and meet friends and be in the TTC.
                </p>
            </div>
        </div>
    </div>
    <div class="row">
              <br/>
        <div class="col-xs-6 col-sm-6 col-md-4 col-lg-6 mediao eaglescout">
            <%= image_tag('officers/bryce_peterson.jpg', alt: 'officer', class: 'media-object img img-thumbnail', height: "300", width: "300") %>
            
            <div class="media-body">
                      <br/>
                <h3 class="media-heading">Bryce Peterson<br /><small>Safety and Compliance Officer</small></h3>
                <p class="lead">
I am Bryce, the Safety and Compliance Officer.  I hope you do not hurt yourself, but if you do, I will say I told you so.  I'm an Eagle Scout, and have been in TTC since I came to UMD.  I love to climb, kayak, cave, bike, hike, build fires, suffer in harsh conditions, get into trouble, get out of trouble, etc...  Essentially I enjoy all things outdoorsy, and am here to teach others how to enjoy the outdoors while managing their risk.
                </p>
            </div>
        </div>
        <div class="col-xs-6 col-sm-6 col-md-4 col-lg-6 mediao">
            <%= image_tag('officers/mikey_chapman.jpg', alt: 'officer', class: 'media-object img img-thumbnail', height: "300", width: "300") %>
            
            <div class="media-body">
                      <br/>
                <h3 class="media-heading">Mikey Chapman<br /><small>Webmaster</small></h3>
                <p class="lead">
                    Hey all, I am currently a sophomore Mathematics and Computer Science major (maybe a minor in German!). But I have a huge love for the outdoors! I love to climb, hike, slack-line, kayak, just about anything you can think of that is outdoorsy! I have been part of TTC since I came to UMD as a freshman and my time in the TTC has been absolutely amazing! I hope to see you all on a trip or at the meetings! 
                </p>
            </div>
        </div>
    </div>
</div>
</div>
