<style>
    #officers .media {
        margin-bottom: 10px;
    }    
</style>

<div id="officers">
    <div class="row">
        <div class="col-xs-12 col-sm-12 col-md-12 col-lg-6 media">
            <%= image_tag('officers/adam.jpg', alt: 'officer', class: 'media-object img img-thumbnail pull-left', height: "150", width: "150") %>
            
            <div class="media-body">
                <h3 class="media-heading">Adam Darchicourt<br /><small>President</small></h3>
                <p class="lead">
                    I learned to love the outdoors backpacking the Smokies with my brother Calvin. That love has only grown in my three years in TTC as I've kayaked, caved, skydived, rafted, climbed, volunteered, and made great friendships that I will cherish forever. I'm an Accounting and Info Sys. major, but I do interesting things too, like try to cook, try to speak Spanish, or try to play guitar.
                </p>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-xs-12 col-sm-12 col-md-12 col-lg-6 media">
            <%= image_tag('officers/mikey_chapman.jpg', alt: 'officer', class: 'media-object img img-thumbnail pull-left', height: "150", width: "150") %>
            
            <div class="media-body">
                <h3 class="media-heading">Mikey Chapman<br /><small>Webmaster</small></h3>
                <p class="lead">
                    Hey all, I am currently a sophomore Mathematics and Computer Science major (maybe a minor in German!). But I have a huge love for the outdoors! I love to climb, hike, slack-line, kayak, just about anything you can think of that is outdoorsy! I have been part of TTC since I came to UMD as a freshman and my time in the TTC has been absolutely amazing! I hope to see you all on a trip or at the meetings! 
                </p>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-xs-12 col-sm-12 col-md-12 col-lg-6 media">
            <%= image_tag('officers/lauren_leffer.jpg', alt: 'officer', class: 'media-object img img-thumbnail pull-left', height: "150", width: "150") %>
            
            <div class="media-body">
                <h3 class="media-heading">Lauren Leffer<br /><small>Vice President</small></h3>
                <p class="lead">
                    I am a junior biology major and creative writing minor.  I was raised by wolves, which were raised by bears that were raised by the colors of the wind.  I can often be found underground.  I am really sixty pigeons in a trench coat, but don’t be alarmed, they are well-trained birds.
                </p>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-xs-12 col-sm-12 col-md-12 col-lg-6 media">
            <%= image_tag('officers/kyle_ludwig.jpg', alt: 'officer', class: 'media-object img img-thumbnail pull-left', height: "150", width: "150") %>
            
            <div class="media-body">
                <h3 class="media-heading">Kyle Ludwig<br /><small>Gear Manager</small></h3>
                <p class="lead">
                    I am a junior geology major here at UMD, and have been part of the TTC sense I transfered over a year ago. My favorite things to do outside include backpacking, climbing, caving, running, kayaking/canoeing, and so much more, it's scary! I'm up for anything outside! (I'm also a huge gear nut).
                </p>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-xs-12 col-sm-12 col-md-12 col-lg-6 media">
            <%= image_tag('officers/david.jpg', alt: 'officer', class: 'media-object img img-thumbnail pull-left', height: "150", width: "150") %>
            
            <div class="media-body">
                <h3 class="media-heading">David Harman<br /><small>Gear Manager</small></h3>
                <p class="lead">
                    Is an officer of the Terrapin Trail Club
                </p>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-xs-12 col-sm-12 col-md-12 col-lg-6 media">
            <%= image_tag('officers/ben.jpg', alt: 'officer', class: 'media-object img img-thumbnail pull-left', height: "150", width: "150") %>
            
            <div class="media-body">
                <h3 class="media-heading">Ben Belzer<br /><small>Trail Maintenance Officer</small></h3>
                <p class="lead">
                    Geology major, referred to by some in TTC as 'Tumnus'. Enjoys hiking and caving and music around campfires. His favorite trail maintenance tool is the McLeod.
                </p>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-xs-12 col-sm-12 col-md-12 col-lg-6 media">
            <%= image_tag('officers/theo.jpg', alt: 'officer', class: 'media-object img img-thumbnail pull-left', height: "150", width: "150") %>
            
            <div class="media-body">
                <h3 class="media-heading">Theo Nikolaitchik<br /><small>Trail Maintenance Officer</small></h3>
                <p class="lead">
                    I am a freshman EE major who enjoys all aspects of the outdoors. His favorite park is Patapsco Valley
                </p>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-xs-12 col-sm-12 col-md-12 col-lg-6 media">
            <%= image_tag('officers/laura_whitney.jpg', alt: 'officer', class: 'media-object img img-thumbnail pull-left', height: "150", width: "150") %>
            
            <div class="media-body">
                <h3 class="media-heading">Laura Whitney<br /><small>Secretary</small></h3>
                <p class="lead">
                    I am a senior psychology major at the University of Maryland.  Her favorite outdoor activity is backpacking, but she also enjoys caving and rock climbing (even though she's afraid of tight spaces and heights).
                </p>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-xs-12 col-sm-12 col-md-12 col-lg-6 media">
            <%= image_tag('officers/lily_durkee.jpg', alt: 'officer', class: 'media-object img img-thumbnail pull-left', height: "150", width: "150") %>
            
            <div class="media-body">
                <h3 class="media-heading">Lily Durkee<br /><small>Director of Outreach</small></h3>
                <p class="lead">
                    I love all adventure sports and spending endless amounts of time outdoors. My favorite will always be whitewater kayaking, so if you've ever dreamed of running rapids, surfing big waves, and going over waterfalls, talk to me! I'm a freshman and new to TTC, and I can't wait for my next 4 years.
                </p>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-xs-12 col-sm-12 col-md-12 col-lg-6 media">
            <%= image_tag('officers/maddie.jpg', alt: 'officer', class: 'media-object img img-thumbnail pull-left', height: "150", width: "150") %>
            
            <div class="media-body">
                <h3 class="media-heading">Madeline Hoggarth<br /><small>Trip Manager</small></h3>
                <p class="lead">
                    I like owls and abandoned buildings and doing inherently dangerous things like climbing, running around in caves, and taking bagels out of the toaster oven.
                </p>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-xs-12 col-sm-12 col-md-12 col-lg-6 media">
            <%= image_tag('officers/marta_roman.jpg', alt: 'officer', class: 'media-object img img-thumbnail pull-left', height: "150", width: "150") %>
            
            <div class="media-body">
                <h3 class="media-heading">Marta Roman<br /><small>Treasurer</small></h3>
                <p class="lead">
                    Hi, my name is Marta and I am a Junior Environmental Health and General Biology double major. I absolutely love spending time outdoors, especially if it involves hiking, camping, swimming, caving, hammocking, or anything really.
                </p>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-xs-12 col-sm-12 col-md-12 col-lg-6 media">
            <%= image_tag('officers/zoe_spiliadis.jpg', alt: 'officer', class: 'media-object img img-thumbnail pull-left', height: "150", width: "150") %>
            
            <div class="media-body">
                <h3 class="media-heading">Zoe Spiliadis<br /><small>Treasurer</small></h3>
                <p class="lead">
                    Hey, I’m Zoe! As one of your club treasurers I like to stay pretty involved in the TTC leading lots of trips and going on even more! Some of my favorite outdoor activities include: climbing, caving, and backpacking! (Hula hooping too but don’t tell) See ya around!
                </p>
            </div>
        </div>
    </div>
</div>
