<% provide(:title, "Edit Trip") %>
<h1 class="center">Update your Trip!</h1>

<div class="row">
  <div class="col-md-8 col-md-offset-2">
    <%= form_for(@trip) do |f| %>
      <%= render 'shared/error_messages', object: f.object %>

      <%= f.label :name %>
      <div>
        <%= f.text_field :name, class: 'form-control wide' %>
      </div>

      <%= f.label :start_date %>
      <div>
        <%= f.datetime_select :start_date, ampm: true, class: 'form-control' %>
      </div>

      <%= f.label :end_date %>
      <div>
        <%= f.datetime_select :end_date, ampm: true, class: 'form-control' %>
      </div>
      <div>
        <%= f.label :cost, "Cost: $" %>
        <%= f.number_field :cost %>
      </div>
      <div> 
        <%= f.label :pretrip_datetime %>
        <div>
          <%= f.datetime_select :pretrip_datetime, ampm: true, class: 'form-control' %>
        </div>
      </div>

      <%= f.label :pretrip_location %>
      <div>
        <%= f.text_field :pretrip_location, class: 'form-control wide' %>
      </div>

      <%= f.label :spots %>
        <div>
          <%= f.number_field :spots %>
        </div>

      <%= f.label :location %>
      <%= f.text_field :location, class: 'form-control wide' %>
          
      <%= f.label :experience_level, "Experience Level: " %>
      <%= f.select(:experience_level, [['Beginner'], ['Intermediate'], ['Advanced'], ['All Levels']]) %>

      <div>
        <ul class="list-inline">
          <li>
            <%= f.label :status, "Status: " %>
          </li>
          <li>
            <%= f.radio_button(:status, 0) %>
            <%= label_tag(:status, "Hidden") %>
          </li>
          <li>
            <%= f.radio_button(:status, 1) %>
            <%= label_tag(:status, "Closed") %>
          </li>
          <li>
            <%= f.radio_button(:status, 2) %>
            <%= label_tag(:status, "Open") %>
          </li>
        </ul>
      </div>

          <div>
            <ul class="list-inline">
              <li>
                <%= f.label :ask_tent, "Do people on your trip need a tent? " %>
              </li>
              <li>
                <%= f.radio_button(:ask_tent, 0) %>
                <%= label_tag(:ask_tent, "Yes") %>
              </li>
              <li>
                <%= f.radio_button(:ask_tent, 1) %>
                <%= label_tag(:ask_tent, "No") %>
              </li>
            </ul>
          </div>

          <div>
            <ul class="list-inline">
              <li>
                <%= f.label :ask_bag, "Do people on your trip need a sleeping bag? " %>
              </li>
              <li>
                <%= f.radio_button(:ask_bag, 0) %>
                <%= label_tag(:ask_bag, "Yes") %>
              </li>
              <li>
                <%= f.radio_button(:ask_bag, 1) %>
                <%= label_tag(:ask_bag, "No") %>
              </li>
            </ul>
          </div>

          <div>
            <ul class="list-inline">
              <li>
                <%= f.label :ask_pad, "Do people on your trip need a sleeping pad? " %>
              </li>
              <li>
                <%= f.radio_button(:ask_pad, 0) %>
                <%= label_tag(:ask_pad, "Yes") %>
              </li>
              <li>
                <%= f.radio_button(:ask_pad, 1) %>
                <%= label_tag(:ask_pad, "No") %>
              </li>
            </ul>
          </div>

          <div>
            <ul class="list-inline">
              <li>
                <%= f.label :ask_pack, "Do people on your trip need a backpack? " %>
              </li>
              <li>
                <%= f.radio_button(:ask_pack, 0) %>
                <%= label_tag(:ask_pack, "Yes") %>
              </li>
              <li>
                <%= f.radio_button(:ask_pack, 1) %>
                <%= label_tag(:ask_pack, "No") %>
              </li>
            </ul>
          </div>

          <div>
            <ul class="list-inline">
              <li>
                <%= f.label :ask_diet, "Will there be food on your trip? " %>
              </li>
              <li>
                <%= f.radio_button(:ask_diet, 0) %>
                <%= label_tag(:ask_diet, "Yes") %>
              </li>
              <li>
                <%= f.radio_button(:ask_diet, 1) %>
                <%= label_tag(:ask_diet, "No") %>
              </li>
            </ul>
          </div>

          <div>
            <ul class="list-inline">
              <li>
                <%= f.label :ask_bike, "Do people on your trip need a bike? " %>
              </li>
              <li>
                <%= f.radio_button(:ask_bike, 0) %>
                <%= label_tag(:ask_bike, "Yes") %>
              </li>
              <li>
                <%= f.radio_button(:ask_bike, 1) %>
                <%= label_tag(:ask_bike, "No") %>
              </li>
            </ul>
          </div>

          <div>
            <ul class="list-inline">
              <li>
                <%= f.label :ask_bike_rack, "Do people on your trip need a bike_rack? " %>
              </li>
              <li>
                <%= f.radio_button(:ask_bike_rack, 0) %>
                <%= label_tag(:ask_bike_rack, "Yes") %>
              </li>
              <li>
                <%= f.radio_button(:ask_bike_rack, 1) %>
                <%= label_tag(:ask_bike_rack, "No") %>
              </li>
            </ul>
          </div>

          <div>
            <ul class="list-inline">
              <li>
                <%= f.label :ask_helmet, "Do people on your trip need a helmet? " %>
              </li>
              <li>
                <%= f.radio_button(:ask_helmet, 0) %>
                <%= label_tag(:ask_helmet, "Yes") %>
              </li>
              <li>
                <%= f.radio_button(:ask_helmet, 1) %>
                <%= label_tag(:ask_helmet, "No") %>
              </li>
            </ul>
          </div>

          <div>
            <ul class="list-inline">
              <li>
                <%= f.label :ask_headlamp, "Do people on your trip need a headlamp? " %>
              </li>
              <li>
                <%= f.radio_button(:ask_headlamp, 0) %>
                <%= label_tag(:ask_headlamp, "Yes") %>
              </li>
              <li>
                <%= f.radio_button(:ask_headlamp, 1) %>
                <%= label_tag(:ask_headlamp, "No") %>
              </li>
            </ul>
          </div>

          <div>
            <ul class="list-inline">
              <li>
                <%= f.label :ask_harness, "Do people on your trip need a harness? " %>
              </li>
              <li>
                <%= f.radio_button(:ask_harness, 0) %>
                <%= label_tag(:ask_harness, "Yes") %>
              </li>
              <li>
                <%= f.radio_button(:ask_harness, 1) %>
                <%= label_tag(:ask_harness, "No") %>
              </li>
            </ul>
          </div>

          <div>
            <ul class="list-inline">
              <li>
                <%= f.label :ask_kayak, "Do people on your trip need a kayak? " %>
              </li>
              <li>
                <%= f.radio_button(:ask_kayak, 0) %>
                <%= label_tag(:ask_kayak, "Yes") %>
              </li>
              <li>
                <%= f.radio_button(:ask_kayak, 1) %>
                <%= label_tag(:ask_kayak, "No") %>
              </li>
            </ul>
          </div>

          <div>
            <ul class="list-inline">
              <li>
                <%= f.label :ask_climbing_shoes, "Do people on your trip need climbing shoes? " %>
              </li>
              <li>
                <%= f.radio_button(:ask_climbing_shoes, 0) %>
                <%= label_tag(:ask_climbing_shoes, "Yes") %>
              </li>
              <li>
                <%= f.radio_button(:ask_climbing_shoes, 1) %>
                <%= label_tag(:ask_climbing_shoes, "No") %>
              </li>
            </ul>
          </div>

          <div>
            <ul class="list-inline">
              <li>
                <%= f.label :ask_kneepads, "Do people on your trip need kneepads? " %>
              </li>
              <li>
                <%= f.radio_button(:ask_kneepads, 0) %>
                <%= label_tag(:ask_kneepads, "Yes") %>
              </li>
              <li>
                <%= f.radio_button(:ask_kneepads, 1) %>
                <%= label_tag(:ask_kneepads, "No") %>
              </li>
            </ul>
          </div>

      <div>
        <%= f.hidden_field :user_id, :value => current_user.id %>
      </div>

      <%= f.label :description %>
      <div class='field'>
        <%= f.bootsy_area :description, editor_options: {image: false}, class: 'description form-control' %>
      </div>
      
      <div class="buttons">
        <%= f.submit "Update my Trip", class: "btn btn-primary", :method => :update %>
        <%= link_to "Cancel", @trip, {:class=>"btn btn-primary"} %>
        <%= link_to "Delete this Trip", @trip, :method => :delete, class: "btn btn-primary" %>
      </div>
    <% end %>
  </div>
</div>