<% provide(:title, "Edit Trip") %>
<h1 class="center">Update your Trip!</h1>

<div class="row">
  <div class="col-md-8 col-md-offset-2">
    <%= form_for(@trip) do |f| %>
      <%= render 'shared/error_messages', object: f.object %>

      <%= f.label :name %>
      <div>
        <%= f.text_field :name, class: 'form-control wide' %>
      </div>

      <%= f.label :start_date %>
      <div>
        <%= f.datetime_select :start_date, ampm: true, class: 'form-control' %>
      </div>

      <%= f.label :end_date %>
      <div>
        <%= f.datetime_select :end_date, ampm: true, class: 'form-control' %>
      </div>
      <div>
        <%= f.label :cost, "Cost: $" %>
        <%= f.number_field :cost %>
      </div>
      <div> 
        <%= f.label :pretrip_datetime %>
        <div>
          <%= f.datetime_select :pretrip_datetime, ampm: true, class: 'form-control' %>
        </div>
      </div>

      <%= f.label :pretrip_location %>
      <div>
        <%= f.text_field :pretrip_location, class: 'form-control wide' %>
      </div>

      <%= f.label :spots %>
        <div>
          <%= f.number_field :spots %>
        </div>

      <%= f.label :location %>
      <%= f.text_field :location, class: 'form-control wide' %>
          
      <%= f.label :experience_level, "Experience Level: " %>
      <%= f.select(:experience_level, [['Beginner'], ['Intermediate'], ['Advanced'], ['All Levels']]) %>

      <div>
        <ul class="list-inline">
          <li>
            <%= f.label :status, "Status: " %>
          </li>
          <li>
            <%= f.radio_button(:status, 0, checked: true) %>
            <%= label_tag(:status, "Hidden") %>
          </li>
          <li>
            <%= f.radio_button(:status, 1) %>
            <%= label_tag(:status, "Closed") %>
          </li>
          <li>
            <%= f.radio_button(:status, 2) %>
            <%= label_tag(:status, "Open") %>
          </li>
        </ul>
      </div>

      <div>
        <%= f.hidden_field :user_id, :value => current_user.id %>
      </div>

      <%= f.label :description %>
      <div class='field'>
        <%= f.bootsy_area :description, editor_options: {image: false}, class: 'description form-control' %>
      </div>
      
      <div class="buttons">
        <%= f.submit "Update my Trip", class: "btn btn-primary", :method => :update %>
        <%= link_to "Cancel", @trip, {:class=>"btn btn-primary"} %>
        <%= link_to "Delete this Trip", @trip, :method => :delete, class: "btn btn-primary" %>
      </div>
    <% end %>
  </div>
</div>