<% provide(:title, 'All Trips') %>
<div class="header">
  <% if logged_in? %>
    <%= link_to "Create a new Trip!", 'trips/new', class: 'small-padding btn btn-info pull-right' %>
  <% end %>
  <h1>All trips</h1>
</div>

<ul class="nav nav-tabs pull-left">
  	<li class="active"><a href="#current" data-toggle="tab">Current Trips</a></li>
  	<li><a href="#outgoing" data-toggle="tab">Outgoing Trips</a></li>
  	<li><a href="#past" data-toggle="tab">Past Trips</a></li>
    <% if logged_in? %>
  	 <li><a href="#leading" data-toggle="tab">Trips you're leading</a></li>
     <li><a href="#on" data-toggle="tab">Trips you're on</a></li>
    <% end %>
</ul>
<div class="tab-content">
        <div class="tab-pane fade in active" id="current">
            <table class="table table-hover">
            	<thead>
    				<tr>
        				<th>Trip Name</th>
        				<th>Trip Leader</th>
        				<th>Start Date</th>
        				<th>End Date</th>
    				</tr>
   				 </thead>
   				 <tbody>
   				 	<% @current.each do |trip| %>
   				 		<tr>
	    					<th> <%= link_to trip.name, trip %> </th>
	    					<th> <%= trip.user.name %> </th>
	    					<th> <%= trip.start_date.strftime("%b %d %I:%M %p") %> </th>
	    					<th> <%= trip.end_date.strftime("%b %d %I:%M %p") %> </th>
    					</tr>
  					<% end %>
  				</tbody>
            </table>
        </div>
        <div class="tab-pane fade" id="outgoing">
            <table class="table table-hover">
            	<thead>
    				<tr>
        				<th>Trip Name</th>
        				<th>Trip Leader</th>
        				<th>Start Date</th>
        				<th>End Date</th>
    				</tr>
   				 </thead>
           <tbody>
                  <% @outgoing.each do |trip| %>
                    <tr>
                      <th> <%= link_to trip.name, trip %> </th>
                      <th> <%= trip.user.name %> </th>
                      <th> <%= trip.start_date.strftime("%b %d %I:%M %p") %> </th>
                      <th> <%= trip.end_date.strftime("%b %d %I:%M %p") %> </th>
                    </tr>
                  <% end %>
              </tbody>
            </table>
        </div>
        <div class="tab-pane fade" id="past">
            <table class="table table-hover">
            	<thead>
    				<tr>
        				<th>Trip Name</th>
        				<th>Trip Leader</th>
        				<th>Start Date</th>
        				<th>End Date</th>
    				</tr>
   				 </thead>
           <tbody>
                  <% @past.each do |trip| %>
                    <tr>
                      <th> <%= link_to trip.name, trip %> </th>
                      <th> <%= trip.user.name %> </th>
                      <th> <%= trip.start_date.strftime("%b %d %I:%M %p") %> </th>
                      <th> <%= trip.end_date.strftime("%b %d %I:%M %p") %> </th>
                    </tr>
                  <% end %>
              </tbody>
            </table>
        </div>
        <% if logged_in? %>
          <div class="tab-pane fade" id="leading">
              <table class="table table-hover">
                <thead>
        				  <tr>
            				<th>Trip Name</th>
            				<th>Trip Leader</th>
            				<th>Start Date</th>
            				<th>End Date</th>
        				  </tr>
       				 </thead>
               <tbody>
                  <% @leading.each do |trip| %>
                    <tr>
                      <th> <%= link_to trip.name, trip %> </th>
                      <th> <%= trip.user.name %> </th>
                      <th> <%= trip.start_date.strftime("%b %d %I:%M %p") %> </th>
                      <th> <%= trip.end_date.strftime("%b %d %I:%M %p") %> </th>
                    </tr>
                  <% end %>
              </tbody>
            </table>
          </div>
          <div class="tab-pane fade" id="on">
              <table class="table table-hover">
                <thead>
                  <tr>
                    <th>Trip Name</th>
                    <th>Trip Leader</th>
                    <th>Start Date</th>
                    <th>End Date</th>
                  </tr>
               </thead>
               <tbody>
                  <% @on.each do |trip| %>
                    <tr>
                      <th> <%= link_to trip.name, trip %> </th>
                      <th> <%= trip.user.name %> </th>
                      <th> <%= trip.start_date.strftime("%b %d %I:%M %p") %> </th>
                      <th> <%= trip.end_date.strftime("%b %d %I:%M %p") %> </th>
                    </tr>
                  <% end %>
              </tbody>
            </table>
          </div>
        <% end %>
</div><!-- tab content -->
