<script>
  $(document).ready(function(){
    $('#show_hide').hide();
    $('#yes_no_yes').click(function() {
      $('#show_hide').show();
    });

    $('#yes_no_no').click(function(){
      $('#show_hide').hide();
    })
  });
</script>

<% provide(:title, 'Create a Trip') %>
<h1 class="center header">Create a Trip!</h1>

<div class="row">
  	<div class="col-md-8 col-md-offset-2">
    	<%= form_for(@trip) do |f| %>
			<%= render 'shared/error_messages', object: f.object %>

      		<%= f.label :name %>
          <div>
      		  <%= f.text_field :name, class: 'form-control wide' %>
          </div>

          <%= f.label :start_date %>
          <div>
            <%= f.datetime_select :start_date, ampm: true, class: 'form-control' %>
          </div>

          <%= f.label :end_date %>
          <div>
            <%= f.datetime_select :end_date, ampm: true, class: 'form-control' %>
          </div>
          <div>
            <%= f.label :cost, "Cost: $" %>
            <%= f.number_field :cost %>
          </div>
          <div>
            <%= label_tag "Is there a Pretrip?" %>
            <%= radio_button_tag(:yes_no, "yes")%>
            <%= label_tag(:yes, "Yes") %>
            <%= radio_button_tag(:yes_no, "no") %>
            <%= label_tag(:no, "No") %>
          </div>
          <div id="show_hide">
            <div> 
              <%= f.label :pretrip_datetime %>
              <div>
                <%= f.datetime_select :pretrip_datetime, ampm: true, class: 'form-control' %>
              </div>
            </div>

            <%= f.label :pretrip_location %>
            <div>
              <%= f.text_field :pretrip_location, class: 'form-control wide' %>
            </div>
          </div>

          <%= f.label :spots %>
          <div>
            <%= f.number_field :spots %>
          </div>

          <%= f.label :location %>
          <%= f.text_field :location, class: 'form-control wide' %>
          
          <%= f.label :experience_level, "Experience Level: " %>
          <%= f.select(:experience_level, [['Beginner'], ['Intermediate'], ['Advanced'], ['All Levels']]) %>

          <div>
            <%= f.hidden_field :user_id, :value => current_user.id %>
          </div>

          <%= f.label :description %>
          <div class='field'>
            <%= f.bootsy_area :description, editor_options: {image: false}, class: 'description form-control' %>
          </div>
          
          <div class="buttons">
      		  <%= f.submit "Create my trip", class: "btn btn-primary", data: { disable_with: "Please wait..." } %>
            <%= link_to "Cancel", '/trips', {:class=>"btn btn-primary"} %>
          </div>
    	<% end %>
  	</div>
</div>