<% provide(:title, @trip.name) %>
<div class='row header'>
	<div class='col-md-8'>
		<h1><b><%= @trip.name %></b></h1> 
        <h4> <%= @trip.location %></h4> 
		<div class="trip-dates"><%= @trip.start_date.strftime("%b %d %I:%M %p") %> - 
			<%= @trip.end_date.strftime("%b %d %I:%M %p") %>
        </div>
        <h3> 
            Total spots: <%= @trip.spots %>, 
            Spots left: <%= @trip.spots - @on_trip_count %> 
            <% if @waitlist_count > 0 %>
                , Waitlist: <%= @waitlist_count %>
            <% end %>
        </h3>
        <h3> Experience Level: <%= @trip.experience_level %> </h3>
	</div>
	<div class='col-md-3 pull-right push-down'>
        <% if @trip.start_date > Time.now  && @trip.status > 1%>
		  <%= render 'signup_form' if logged_in? %>
        <% end %>
        <div class='push-down-small'>
            <% if @on_trip == true && @trip.start_date > Time.now %>
                <% if @car.nil? && @user_trip.users_cars.count == 0 %> 
                    <%= form_tag(car_path, method: "get") do %>
                        <%= hidden_field_tag(:trip_id, @trip.id) %>
                        <%= submit_tag 'Sign a Car up!', class: 'small-padding btn btn-md btn-primary' %>
                    <% end %>
                <% end %>
                <% if !@car.nil? %>
                    <%= form_for(@car, html: { method: :delete }) do |f| %>
                        <%= f.submit "Remove your Car", class: "btn", data: { disable_with: "Please wait..." } %>
                    <% end %>
                <% end %>
            <% end %>
        </div>
        <% if logged_in? && current_user.id == @trip.user.id && @trip.start_date > Time.now %>
            <div class='push-down-small'>
                <%= button_to "Edit this Trip", edit_trip_path(@trip), :class => "btn btn-primary btn-md", :method => :get  %>
            </div>
        <% end %>
        <div>
            <% if @on_trip == true %>
                <% if  @user_trip.on_waitlist == 1 %>
                    <h3> You are on the waitlist </h3>
                <% end %>
                <% if @user_trip.on_waitlist == 0 %>
                    <h3> You are on the Trip! </h3>
                <% end %>
            <% end %>
        </div>
	</div>
</div>

<ul class="nav nav-tabs nav-justified">
  	<li class="active"><a href="#details" data-toggle="tab">Details</a></li>
    <% if @on_trip == true %>
        <li><a href="#carpools" data-toggle="tab">Carpools</a></li>
    <% end %>
    <% if @trip.user == current_user %>
       <li><a href="#going" data-toggle="tab">Who is going</a></li>
    <% end %>
</ul>

<div class="tab-content">
        <div class="tab-pane fade in active" id="details">
            <div class="row">
            	<div class="col-md-12">
            		<%= @trip.description.html_safe %>
            	</div>
            </div>
            <div class="push-down">
                <h4> Trip Leader's Email: <%= @trip.user.email %> </h4>
                <% if !(@trip.pretrip_location == "") %>
                    <h4> Pretrip at <%= @trip.pretrip_location %> 
                        on <%= @trip.pretrip_datetime.strftime("%b %d %I:%M %p") %> 
                    </h4>
                <% else %>
                    <h4> There is no pretrip for this trip </h4>
                <% end %>
                <h4> Cost: $<%= @trip.cost %> </h4>
                <h4> Status: <%= @status %> </h4>
            </div>
        </div>
        <% if @on_trip == true %>
            <div class="tab-pane fade" id="carpools">
                <% if @cars_on_trip.count > 0 %>
                <% if current_user == @trip.user && @cars_on_waitlist.count > 0 %>
                    <h3> Cars on the Trip </h3>
                <% end %>
                <table class="table table-hover">
                    <thead>
                        <tr>
                            <th>Car</th>
                            <th>Passengers</th>
                        </tr>
                     </thead>
                     <tbody>
                        <% @cars_on_trip.each do |carr| %>
                            <tr>
                                <td>
                                    <table border="0">
                                        <tr><th> <%= carr.color %> <%= carr.make %> <%= carr.model %> </th></tr>
                                        <tr><td> Driver: <%= carr.user.name %> </td></tr>
                                        <tr><td> Leaving: <%= carr.leave_time.strftime("%b %d %I:%M %p") %></td></tr>
                                        <tr><td> Size: <%= carr.seats - carr.users_trips.count %> </td></tr>
                                        <tr><td> <br/> </td></tr>
                                        <tr>
                                            <td> 
                                                <div>
                                                    <% if @car.nil? %>
                                                        <% if !(carr.users_trips.include?(@user_trip)) && @user_trip.users_cars.count == 0  && carr.seats - carr.users_trips.count > 0 %>
                                                            <%= form_for(@user_trip.users_cars.build) do |f| %>
                                                                <div><%= hidden_field_tag :car_id, carr.id %></div>
                                                                <div><%= hidden_field_tag :users_trip_id, @user_trip.id %></div>
                                                                <%= f.submit "Sign up for this Car!", class: "btn btn-default", data: { disable_with: "Please wait..." } %>
                                                            <% end %>
                                                        <% elsif !(carr.users_trips.include?(@user_trip)) && @user_trip.users_cars.count == 1 && carr.seats - carr.users_trips.count > 0 %>
                                                            <%= form_tag(car_join_path, method: "get") do %>
                                                                <div><%= hidden_field_tag :car_id, carr.id %></div>
                                                                <div><%= hidden_field_tag :users_trip_id, @user_trip.id %></div>
                                                                <div><%= hidden_field_tag :users_cars_id, @user_trip.users_cars.first.id %> </div>
                                                                <%= submit_tag "Sign up for this Car!", class: "btn btn-default", data: { disable_with: "Please wait..." } %>
                                                            <% end %>
                                                        <% elsif carr.seats - carr.users_trips.count <= 0 && !(carr.users_trips.include?(@user_trip)) %>
                                                            <h4> This Car is full!</h4>
                                                        <% else %>
                                                            <%= form_for(carr.users_cars.find_by(users_trip_id: @user_trip.id), html: { method: :delete }) do |f| %>
                                                                <%= f.submit "Leave this Car!", class: "btn btn-default", data: { disable_with: "Please wait..." } %>
                                                            <% end %>
                                                        <% end %>
                                                    <% else %>
                                                        <% if carr.id == @car.id %>
                                                            <%= form_tag(edit_car_path, method: "get") do %>
                                                                <%= hidden_field_tag(:trip_id, @trip.id) %>
                                                                <%= hidden_field_tag(:car_id, @car.id) %>
                                                                <%= submit_tag 'Edit your Car!', class: 'btn btn-default' %>
                                                            <% end %>
                                                        <% end %>
                                                    <% end %>   
                                                </div>
                                            </td>
                                        </tr>
                                    </table>
                                </td>
                                <td>
                                    <table class="table table-hover table-condensed">
                                        <% carr.users_trips.each do |f| %>
                                            <tr><td> <%= f.user.name %> </tr> </td>
                                        <% end %>
                                    </table>
                                </td>
                            </tr> 
                        <% end %>
                    </tbody>
                </table>
                <% end %>
                <% if @cars_on_waitlist.count > 0 && current_user == @trip.user%>
                    <h3> Cars on the Waitlist </h3>
                    <table class="table table-hover">
                        <thead>
                            <tr>
                                <th>Car</th>
                                <th>Passengers</th>
                            </tr>
                         </thead>
                         <tbody>
                            <% @cars_on_waitlist.each do |car| %>
                                <tr>
                                    <td>
                                        <table border="0">
                                            <tr><th> <%= car.color %> <%= car.make %> <%= car.model %> </th></tr>
                                            <tr><td> Driver: <%= car.user.name %> </td></tr>
                                            <tr><td> Leaving: <%= car.leave_time.strftime("%b %d %I:%M %p") %></td></tr>
                                            <tr><td> Size: <%= car.seats - car.users_trips.count %> </td></tr>
                                            <tr><td> <br/> </td></tr>
                                            <tr>
                                                <td>
                                                    <div>
                                                        <% if !@car.nil? && car.id == @car.id %>
                                                            <%= form_tag(edit_car_path, method: "get") do %>
                                                                <%= hidden_field_tag(:trip_id, @trip.id) %>
                                                                <%= hidden_field_tag(:car_id, @car.id) %>
                                                                <%= submit_tag 'Edit your Car!', class: 'btn btn-default' %>
                                                            <% end %>
                                                        <% end %>
                                                    </div>
                                                </td>
                                            </tr>
                                        </table>
                                    </td>
                                    <td></td>
                                </tr>
                            <% end %>
                         </tbody>
                     </table>
                <% end %>
                <% if @carpools.count == 0 %>
                    <h2 class="center"> There are no cars on this trip </h2>
                <% end %>
            </div>
        <% end %>
        <% if @trip.user == current_user %>
            <div class="tab-pane fade" id="going">
                <% if @trip.users.count > 0 %>
                    <% if @on_trip_count > 0 %>
                        <h3> Users on the trip </h3>
                        <% @trip.users_trips.each do |f| %>
                            <% if f.on_waitlist == 0 %>
                                <ul class="list-inline">
                                    <li>
                                        <h4><%= link_to f.user.name, f.user %></h4>
                                    </li>
                                    <li>
                                        <%= form_for(f, html: { method: :delete }) do |f| %>
                                            <%= f.submit "Remove this person", class: "btn btn-danger btn-xs", data: { disable_with: "Please wait..." } %>
                                        <% end %>
                                    </li>
                                    <li>
                                        <%= form_tag(on_waitlist_path, method: "get") do %>
                                            <%= hidden_field_tag(:id, f.id) %>
                                            <%= submit_tag 'Put on the waitlist', class: 'btn btn-warning btn-xs', data: { disable_with: "Please wait..." } %>
                                        <% end %>
                                    </li>
                                </ul>
                            <% end %>
                        <% end %>
                    <% end %>
                    <% if @waitlist_count > 0 %>
                        <h3> Users on the waitlist </h3>
                        <% @trip.users_trips.each do |f| %>
                            <% if f.on_waitlist == 1 %>
                                <ul class="list-inline">
                                    <li>
                                        <h4><%= link_to f.user.name, f.user %></h4>
                                    </li>
                                    <li>
                                        <%= form_for(f, html: { method: :delete }) do |f| %>
                                            <%= f.submit "Remove this person", class: "btn btn-danger btn-xs", data: { disable_with: "Please wait..." } %>
                                        <% end %>
                                    </li>
                                    <li>
                                        <%= form_tag(off_waitlist_path, method: "get") do %>
                                            <%= hidden_field_tag(:id, f.id) %>
                                            <%= submit_tag 'Pull off the waitlist', class: 'btn btn-warning btn-xs', data: { disable_with: "Please wait..." } %>
                                        <% end %>
                                    </li>
                                </ul>
                            <% end %>
                        <% end %>
                    <% end %>
                <% else %>
                    <h3 class="center"> There is no one signed up for this trip yet </h3>
                <% end %>
            </div>
        <% end %> 
</div>
<div class="push-down">
    <% if @on_trip %>
        <%= form_tag(edit_user_trip_path, method: "get") do %>
            <%= hidden_field_tag(:trip_id, @trip.id) %>
            <%= hidden_field_tag(:user_trip_id, @user_trip.id) %>
            <%= submit_tag 'Edit your signup info', class: 'btn btn-success form-control' %>
        <% end %>
    <% end %>
</div>