<div class="footer navbar navbar-inverse navbar-static-bottom">
    <div class="navbar-collapse">
		<div class="col-xs-12 col-sm-6 col-md-4 col-lg-3">
			<div id="quote">
				<%= render "layouts/elements/quote" %>
			</div>
		</div>
		<div class="col-xs-12 col-sm-6 col-md-3 col-lg-3">
			<div id="sitemap">
				<%= render "layouts/elements/sitemap" %>
			</div>
		</div>
		<div class="col-xs-12 col-sm-6 col-md-3 col-lg-3">
			<div id="credits">
				<%= render "layouts/elements/credits" %>
			</div>
		</div>
		<div class="col-xs-12 col-sm-6 col-md-3 col-lg-3">
			<div id="legal">
				<%= render "layouts/elements/legal" %>	
			</div>
			<div id="tech">
				<%= render "layouts/elements/tech" %>	
			</div>
		</div>
    </div>
</div>