<h3>Club Officers</h3>
<div class="media">
    <a class="pull-left" href="#">
        <%= image_tag('officers/nruiz.jpg', alt: 'officer', class: 'media-object imag-thumbnail') %>
    </a>
    <div class="media-body">
        <b class="media-heading">Nick Ruiz</b>
        <p class="text-muted">
            President<br />
        </p>
    </div>
</div>
<div class="media">
    <a class="pull-left" href="#">
        <%= image_tag('officers/mchapman.jpg', alt: 'officer', class: 'media-object imag-thumbnail') %>
    </a>
    <div class="media-body">
        <b class="media-heading">Mikey Chapman</b>
        <p class="text-muted">
            Gear Manager &amp Webmaster<br />
        </p>
    </div>
</div>
<div class="media">
    <a class="pull-left" href="#">
        <%= image_tag('officers/lleffer.jpg', alt: 'officer', class: 'media-object imag-thumbnail') %>
    </a>
    <div class="media-body">
        <b class="media-heading">Lauren Leffer</b>
        <p class="text-muted">
            Vice President<br />
        </p>
    </div>
</div>
<div class="media">
    <a class="pull-left" href="#">
        <%= image_tag('officers/jbryant.jpg', alt: 'officer', class: 'media-object imag-thumbnail') %>
    </a>
    <div class="media-body">
        <b class="media-heading">Jamison Bryant</b>
        <p class="text-muted">
            Webmaster<br />
        </p>
    </div>
</div>
<div class="media">
    <a class="pull-left" href="#">
        <%= image_tag('officers/adarchicourt.jpg', alt: 'officer', class: 'media-object imag-thumbnail') %>
    </a>
    <div class="media-body">
        <b class="media-heading">Adam Darchicourt</b>
        <p class="text-muted">
            Gear Manager<br />
        </p>
    </div>
</div>
<div class="media">
    <a class="pull-left" href="#">
        <%= image_tag('officers/bbelzer.jpg', alt: 'officer', class: 'media-object imag-thumbnail') %>
    </a>
    <div class="media-body">
        <b class="media-heading">Ben Belzer</b>
        <p class="text-muted">
            Trail Maintenance Officer<br />
        </p>
    </div>
</div>
<div class="media">
    <a class="pull-left" href="#">
        <%= image_tag('officers/dhernandez.jpg', alt: 'officer', class: 'media-object imag-thumbnail') %>
    </a>
    <div class="media-body">
        <b class="media-heading">Dylan Hernandez</b>
        <p class="text-muted">
            Minister of Propaganda<br />
        </p>
    </div>
</div>
<div class="media">
    <a class="pull-left" href="#">
        <%= image_tag('officers/lwhitney.jpg', alt: 'officer', class: 'media-object imag-thumbnail') %>
    </a>
    <div class="media-body">
        <b class="media-heading">Laura Whitney</b>
        <p class="text-muted">
            Secretary<br />
        </p>
    </div>
</div>
<div class="media">
    <a class="pull-left" href="#">
        <%= image_tag('officers/lsooklal.jpg', alt: 'officer', class: 'media-object imag-thumbnail') %>
    </a>
    <div class="media-body">
        <b class="media-heading">Lily Sooklal</b>
        <p class="text-muted">
            Treasurer<br />
        </p>
    </div>
</div>
<div class="media">
    <a class="pull-left" href="#">
        <%= image_tag('officers/mhoggarth.jpg', alt: 'officer', class: 'media-object imag-thumbnail') %>
    </a>
    <div class="media-body">
        <b class="media-heading">Madeline Hoggarth</b>
        <p class="text-muted">
            Trip Manager<br />
        </p>
    </div>
</div>
<div class="media">
    <a class="pull-left" href="#">
        <%= image_tag('officers/mroman.jpg', alt: 'officer', class: 'media-object imag-thumbnail') %>
    </a>
    <div class="media-body">
        <b class="media-heading">Marta Roman</b>
        <p class="text-muted">
            Treasurer<br />
        </p>
    </div>
</div>
<div class="media">
    <a class="pull-left" href="#">
        <%= image_tag('officers/mwenzlaffjr.jpg', alt: 'officer', class: 'media-object imag-thumbnail') %>
    </a>
    <div class="media-body">
        <b class="media-heading">Michael Wenzlaff Jr.</b>
        <p class="text-muted">
            Trail Maintenance Officer<br />
        </p>
    </div>
</div>