<h3>Club Officers</h3>
<div class="media">
    <a class="pull-left" href="#">
        <%= image_tag('officers/adam.jpg', alt: 'officer', class: 'media-object imag-thumbnail') %>
    </a>
    <div class="media-body">
        <b class="media-heading">Adam Darchicourt</b>
        <p class="text-muted">
            President<br />
        </p>
    </div>
</div>
<div class="media">
    <a class="pull-left" href="#">
        <%= image_tag('officers/lauren_leffer.jpg', alt: 'officer', class: 'media-object imag-thumbnail') %>
    </a>
    <div class="media-body">
        <b class="media-heading">Lauren Leffer</b>
        <p class="text-muted">
            Vice President<br />
        </p>
    </div>
</div>
<div class="media">
    <a class="pull-left" href="#">
        <%= image_tag('officers/mikey_chapman.jpg', alt: 'officer', class: 'media-object imag-thumbnail') %>
    </a>
    <div class="media-body">
        <b class="media-heading">Mikey Chapman</b>
        <p class="text-muted">
            Webmaster<br />
        </p>
    </div>
</div>
<div class="media">
    <a class="pull-left" href="#">
        <%= image_tag('officers/kyle_ludwig.jpg', alt: 'officer', class: 'media-object imag-thumbnail') %>
    </a>
    <div class="media-body">
        <b class="media-heading">Kyle Ludwig</b>
        <p class="text-muted">
            Gear Manager<br />
        </p>
    </div>
</div>
<div class="media">
    <a class="pull-left" href="#">
        <%= image_tag('officers/david.jpg', alt: 'officer', class: 'media-object imag-thumbnail') %>
    </a>
    <div class="media-body">
        <b class="media-heading">David Harman</b>
        <p class="text-muted">
            Gear Manager<br />
        </p>
    </div>
</div>
<div class="media">
    <a class="pull-left" href="#">
        <%= image_tag('officers/ben.jpg', alt: 'officer', class: 'media-object imag-thumbnail') %>
    </a>
    <div class="media-body">
        <b class="media-heading">Ben Belzer</b>
        <p class="text-muted">
            Trail Maintenance Officer<br />
        </p>
    </div>
</div>
<div class="media">
    <a class="pull-left" href="#">
        <%= image_tag('officers/theo.jpg', alt: 'officer', class: 'media-object imag-thumbnail') %>
    </a>
    <div class="media-body">
        <b class="media-heading">Theo Nikolaitchik</b>
        <p class="text-muted">
            Trail Maintenance Officer<br />
        </p>
    </div>
</div>
<div class="media">
    <a class="pull-left" href="#">
        <%= image_tag('officers/laura_whitney.jpg', alt: 'officer', class: 'media-object imag-thumbnail') %>
    </a>
    <div class="media-body">
        <b class="media-heading">Laura Whitney</b>
        <p class="text-muted">
            Secretary<br />
        </p>
    </div>
</div>
<div class="media">
    <a class="pull-left" href="#">
        <%= image_tag('officers/lily_durkee.jpg', alt: 'officer', class: 'media-object imag-thumbnail') %>
    </a>
    <div class="media-body">
        <b class="media-heading">Lily Durkee</b>
        <p class="text-muted">
            Director of Outreach<br />
        </p>
    </div>
</div>
<div class="media">
    <a class="pull-left" href="#">
        <%= image_tag('officers/maddie.jpg', alt: 'officer', class: 'media-object imag-thumbnail') %>
    </a>
    <div class="media-body">
        <b class="media-heading">Madeline Hoggarth</b>
        <p class="text-muted">
            Trip Manager<br />
        </p>
    </div>
</div>
<div class="media">
    <a class="pull-left" href="#">
        <%= image_tag('officers/marta_roman.jpg', alt: 'officer', class: 'media-object imag-thumbnail') %>
    </a>
    <div class="media-body">
        <b class="media-heading">Marta Roman</b>
        <p class="text-muted">
            Treasurer<br />
        </p>
    </div>
</div>
<div class="media">
    <a class="pull-left" href="#">
        <%= image_tag('officers/zoe_spiliadis.jpg', alt: 'officer', class: 'media-object imag-thumbnail') %>
    </a>
    <div class="media-body">
        <b class="media-heading">Zoe Spiliadis</b>
        <p class="text-muted">
            Treasurer<br />
        </p>
    </div>
</div>