<h3>Club Officers</h3>
<div class="row">
    <br/>
<div class="col-xs-4 col-md-2 media">
        <%= image_tag('officers/kyle_ludwig.jpg', alt: 'officer', class: 'media-object imag-thumbnail') %>
    <div class="media-body">
        <b class="media-heading">Kyle Ludwig</b>
        <p class="text-muted">
            President<br />
        </p>
    </div>
</div>
<div class="col-xs-4 col-md-2 media">
        <%= image_tag('officers/harlie_pietrangelo.jpg', alt: 'officer', class: 'media-object imag-thumbnail') %>
    
    <div class="media-body">
        <b class="media-heading">Harlie Pietrangelo</b>
        <p class="text-muted">
            Vice President<br />
        </p>
    </div>
</div>
<div class="col-xs-4 col-md-2 media">
        <%= image_tag('officers/sara_tolnay.jpg', alt: 'officer', class: 'media-object imag-thumbnail') %>
    <div class="media-body">
        <b class="media-heading">Sara Tolnay</b>
        <p class="text-muted">
            Co-Treasurer<br />
        </p>
    </div>
</div>
<div class="col-xs-4 col-md-2 media">
        <%= image_tag('officers/petr_majer.jpg', alt: 'officer', class: 'media-object imag-thumbnail') %>
    <div class="media-body">
        <b class="media-heading">Petr Majer</b>
        <p class="text-muted">
            Co-Treasurer<br />
        </p>
    </div>
</div>
<div class="col-xs-4 col-md-2 media">
  
        <%= image_tag('officers/melanie_herrera.png', alt: 'officer', class: 'media-object imag-thumbnail') %>

    <div class="media-body">
        <b class="media-heading">Melanie Herrera</b>
        <p class="text-muted">
            Secretary<br />
        </p>
    </div>
</div>
<div class="col-xs-4 col-md-2 media">

        <%= image_tag('officers/david_harman.jpg', alt: 'officer', class: 'media-object imag-thumbnail') %>

    <div class="media-body">
        <b class="media-heading">David Harman</b>
        <p class="text-muted">
            Co-Quartermaster<br />
        </p>
    </div>
</div>
    </div>
<div class="row">
    <br/>
<div class="col-xs-4 col-md-2 media">
 
        <%= image_tag('officers/michelle_solomon.jpg', alt: 'officer', class: 'media-object imag-thumbnail') %>

    <div class="media-body">
        <b class="media-heading">Michelle Solomon</b>
        <p class="text-muted">
            Co-Quartermaster<br />
        </p>
    </div>
</div>
<div class="col-xs-4 col-md-2 media">
 
        <%= image_tag('officers/theo_nikolaitchik.jpg', alt: 'officer', class: 'media-object imag-thumbnail') %>

    <div class="media-body">
        <b class="media-heading">Theo Nikolaitchik</b>
        <p class="text-muted">
            Trail Maintenance officer<br />
        </p>
    </div>
</div>
<!--<div class="col-xs-4 col-md-2 media">

        <%= image_tag('officers/gabriel_donnenberg.jpg', alt: 'officer', class: 'media-object imag-thumbnail') %>

    <div class="media-body">
        <b class="media-heading">Gabriel Donnenberg</b>
        <p class="text-muted">
            Intro Trip Coordinator<br />
        </p>
    </div>
</div>-->

<div class="col-xs-4 col-md-2 media">

        <%= image_tag('officers/geoffrey_chang.png', alt: 'officer', class: 'media-object imag-thumbnail') %>

    <div class="media-body">
        <b class="media-heading">Geoffrey Chang</b>
        <p class="text-muted">
            Intro Trip Coordinator<br />
        </p>
    </div>
</div>
<div class="col-xs-4 col-md-2 media">

        <%= image_tag('officers/sam_leitess.jpg', alt: 'officer', class: 'media-object imag-thumbnail') %>

    <div class="media-body">
        <b class="media-heading">Sam Leitess</b>
        <p class="text-muted">
            Director of Outreach<br />
        </p>
    </div>
</div>
<div class="col-xs-4 col-md-2 media">

        <%= image_tag('officers/bryce_peterson.jpg', alt: 'officer', class: 'media-object imag-thumbnail') %>

    <div class="media-body">
        <b class="media-heading">Bryce Peterson</b>
        <p class="text-muted">
            Safety and Compliance Officer<br />
        </p>
    </div>
</div>
<div class="col-xs-4 col-md-2 media">

        <%= image_tag('officers/mikey_chapman.jpg', alt: 'officer', class: 'media-object imag-thumbnail') %>
    <div class="media-body">
        <b class="media-heading">Mikey Chapman</b>
        <p class="text-muted">
            Da Webma$ter<br />
        </p>
    </div>
    </div>
</div>
