<div class="row header">
	<div class="col-md-8">
		<h1 style="text-shadow: 1px 1px 1px #ccc;"> <%= @user.name %> </h1>
	</div>
	<div class="col-md-4 push-down">
		<button class="btn btn-primary pull-right">Edit Profile</button>
	</div>
</div>

<h3> General Information </h3>

<div class="row">
	<div class="col-lg-6 col-md-6 col-sm-12 col-xs-12">
		<div class="row">
			<div class="col-lg-3 col-md-4 col-sm-6 col-xs-12">
				Position:
			</div>
			<div class="col-lg-3 col-md-4 col-sm-6 col-xs-12">
				<%= @position %>
			</div>
		</div>
		<div class="row">
			<div class="col-lg-3 col-md-4 col-sm-6 col-xs-12">
				Dues Paid: <i class="fa fa-times"></i>
			</div>
			<div class="col-lg-3 col-md-4 col-sm-6 col-xs-12">
				N/A
			</div>
		</div>
		<div class="row">
			<div class="col-lg-3 col-md-4 col-sm-6 col-xs-12">
				Waiver Signed: <i class="fa fa-check"></i>
			</div>
			<div class="col-lg-3 col-md-4 col-sm-6 col-xs-12">
				07/18/1993
			</div>
		</div>
		<div class="row">
			<div class="col-lg-3 col-md-4 col-sm-6 col-xs-12">
				Join Date:
			</div>
			<div class="col-lg-3 col-md-4 col-sm-6 col-xs-12">
				<%= @user.created_at.strftime("%b %d %I:%M %p") %>
			</div>
		</div>
		<div class="row">
			<div class="col-lg-3 col-md-4 col-sm-6 col-xs-12">
				Email Address:
			</div>
			<div class="col-lg-3 col-md-4 col-sm-6 col-xs-12">
				<%= @user.email %>
			</div>
		</div>
		<div class="row">
			<div class="col-lg-3 col-md-4 col-sm-6 col-xs-12">
				Join Date:
			</div>
			<div class="col-lg-3 col-md-4 col-sm-6 col-xs-12">
				07/18/1993
			</div>
		</div>
	</div>
</div>

<h3> Trips currently signed up for </h3>
<% if @current_trips.count > 0 %>
	<table class="table table-hover">
	    <thead>
	        <tr>
				<th>Name</th>
				<th>Start Date</th>
				<th>End Date</th>
				<th>Trip Size</th>
			</tr>
		</thead>
		<tbody>
		   	<% @current_trips.each do |trip| %>
		   		<tr>
			    	<th> <%= link_to trip.name, trip %> </th>
			    	<th> <%= trip.start_date.strftime("%b %d %I:%M %p") %> </th>
			    	<th> <%= trip.end_date.strftime("%b %d %I:%M %p") %> </th>
			    	<th> 5 </th>
		    	</tr>
			<% end %>
		</tbody>
	</table>
<% else %>
	<h5> None </h5>
<% end %>